.container {
    display: flex;
    flex-flow: column;
    place-content: flex-start;
    place-items: center flex-start;
    position: absolute;
    margin-left: 84vw;
    margin-top: -64vh;
    box-sizing: content-box;
    width: 200px;
    height: 200px;
    z-index: 9999; 
    cursor: pointer;
}

.fadeInEx {
  animation: fadeInAnimation 0.1s ease forwards; 
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
}
80%{
     opacity: 0.5;
}
100% {
    opacity: 1;
}
}

.dropdownparagraph {
  font-family: verdana;
  max-width: 160px;
  background-color: rgb(239, 243, 247);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease, padding 0.45s ease, color 5s ease;
  border-radius: 5%;
  font-size: 1vw;

}

.dropdownparagraphopen {
  color: black;
  font-family: verdana;
  max-height: 2000px; 
  max-width: 160px;
  width: 210px;
  transition: max-height 1s ease, padding 0.3s ease;
  background-color: rgb(239, 243, 247);
  border-radius: 5%;
  padding: 8px;
  border: 1px solid black;
  backdrop-filter: blur(3px);
  font-size: 1vw;
}

.position {
      flex-shrink: 0;
      background-image: url("/question_Mark.svg");
      background-size: 100% 100%; 
      background-repeat: no-repeat; 
      background-position: center; 
      width: 50px;
      height: 50px;
      z-index: 9999;
      background-color: white;
      border-radius: 50%;
}
      

.position:hover{
  transform: scale(1.07);
}



@media screen and (max-width: 1300px) {
  .container{
    margin-left: 0vw;
    margin-top: calc(220px - 100vh);
  }

  .position{
    width: 35px;
    height: 35px;
  }
  .dropdownparagraphopen {
    margin-top: 2vh;
    margin-left: 0vw;
    font-size: 90%;
  }
  .dropdownparagraph{
    margin-top: 2vh;
    margin-left: 0vw;
    font-size: 90%;
  }

}

@media screen and (max-width: 700px) {
  

}