.background {
  background-image: url('/111111book-table.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center; /* Centers the background image within the container */  
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  /*border: 0.5px solid black;*/
  box-sizing: border-box;
  flex-shrink: 1;

}
 

.customButton {
  
  background-image: url('/Designer (4).jpeg');
  background-size: 100% 100%; /* Adjust background size to contain within the button */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the background image */
  opacity: 95%;
  border: 2px solid #333;
  width: calc(300px + 2vw);
  aspect-ratio: 10/11;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-top: 20px; /* Adjust margin-top as needed */
  justify-items: flex-end;
  align-content: flex-end;
  border-radius: 10%;
  transition: transform 0.3s ease,;
  margin-left: 15%;
  margin-right: 15%;
  
}

.customButton:hover {
  transform: scale(1.05);
}


.fadeIn {
  animation: fadeInAnimation 1.1s ease; /* Apply the fadeIn animation */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
}
50%{
     opacity: 0.01;
}
100% {
    opacity: 1;
}
}

@media screen and (max-width: 1200px) {

  .customButton {
   /* width: calc(23vw + 7vh);*/
  }

  .customButton:hover {
    transform: scale(1.00);
  }


  .background {
    background-image: url('/111111book-table.jpg');
    background-size: calc(75% + 350px) calc(90% + 200px);
    background-position: contain;
    background-repeat: no-repeat;
    
  
  }


}

@media screen and (max-width: 700px) {

  .customButton {
   /* width: calc(23vw + 10vh);*/
   
  }

  .customButton:hover {
    transform: scale(1.00);
  }


  .background {
    
    background-size: calc(75% + 380px) calc(85% + 300px);
  }


}