.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  opacity: 0;
}

.spinneractive {
  opacity: 1;
}

.app {
  display: none; /* Initially hide the app content */
}

.app.loaded {
  display: block; /* Show the app content when ready */
}

.blankpage {
  display: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Adjust as needed */
  z-index: 9999;
  position: fixed;
  background-size: 100% 100%;
}

.background {
  background-image: url('/backgroundPic.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  box-sizing: border-box;
  flex-shrink: 1;
  opacity: 1;
  transition: opacity 2s ease;
}

.backgroundtransition {
  background-image: url('/backgroundPic.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  box-sizing: border-box;
  flex-shrink: 1;
  opacity: 0;
}


.customButton {
  background-image: url('/indexCover.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 95%;
  border: 2px solid #333;
  width: calc(300px + 2vw);
  aspect-ratio: 10/11;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-top: 20px;
  justify-items: flex-end;
  align-content: flex-end;
  border-radius: 10%;
  transition: transform 0.3s ease;
  margin-left: 15%;
  margin-right: 15%;
  position: fixed;
}

.customButton:hover {
  transform: scale(1.05);
}

.fadeIn {
  animation: fadeInAnimation 5.5s ease;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  65% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .customButton:hover {
      transform: scale(1.00);
  }

  .background {
      background-size: calc(75% + 350px) calc(90% + 200px);
      background-position: contain;
      background-repeat: no-repeat;
  }
}

@media screen and (max-width: 700px) {
  .customButton:hover {
      transform: scale(1.00);
  }

  .background {
      background-size: calc(75% + 380px) calc(85% + 300px);
  }
}
